<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <title>
            Parking Management System
        </title>
        <script>
            var app = angular.module('ParkingApp', []);
            app.controller('parkingCtrl', function($scope) {
                $scope.collections=[]
                $scope.smallParkingFee=60
                $scope.largeParkingFee=100
                $scope.SMALL_CAR='SMALL_CAR'; 
                $scope.LARGE_CAR='LARGE_CAR';  
                $scope.errors=[] 
                $scope.parkingSlots = [
                
                ];

                //Initializes Large parkings
                for (let i = 1; i < 6; i++) {
                    $scope.parkingSlots.push({
                        name:i,
                        hasCar:false,
                        carType:'',
                        parkingStartTime:0
                    })
                }
                //Initializes Small parkings
                for (let i = 6; i < 16; i++) {
                    $scope.parkingSlots.push({
                        name:i,
                        hasCar:false,
                        onlySmallCars:true,
                        carType:'',
                        parkingStartTime:0
                    })
                }
                $scope.checkoutParking=(i)=>{
                    let index=parseInt(i)-1
                    if(!($scope.parkingSlots[index]&&$scope.parkingSlots[index].hasCar)){
                        $scope.errors.push("You cannot checkout an empty parking")
                        return
                    }

                    let time=new Date().getMilliseconds()-$scope.parkingSlots[index].parkingStartTime
                    let min = Math.floor((time/1000/60))
                    if($scope.parkingSlots[index].onlySmallCars){
                        $scope.checkOutCharge=$scope.smallParkingFee
                    }else{
                        $scope.checkOutCharge=$scope.largeParkingFee
                    }
                    
                    if(min>30){
                        let hours=Math.floor((min-30)/60)
                        $scope.checkOutCharge=  $scope.checkOutCharge+(hours*15) 
                    }
                    $scope.parkingSlots[index].hasCar=false;
                    $scope.parkingSlots[index].carType='';
                    $scope.parkingSlots[index].parkingStartTime=0;
                }
                $scope.parkCar=()=>{
                    $scope.checkOutCharge=0
                    $scope.errors=[]

                    if(!($scope.parkingSlot&&$scope.carType)){
                        $scope.errors.push("Please Select all fields")
                        return
                    }
                    parkingSlot=parseInt($scope.parkingSlot)-1
                    if($scope.parkingSlots[parkingSlot].onlySmallCars&&($scope.carType==$scope.LARGE_CAR)){
                        $scope.errors.push("Slot can only accomodate small cars")
                    }else if(!$scope.parkingSlots[parkingSlot].hasCar){
                        $scope.parkingSlots[parkingSlot].hasCar=true
                        $scope.parkingSlots[parkingSlot].carType=$scope.carType
                        $scope.carType=""
                        $scope.parkingSlot=""
                        $scope.parkingStartTime=new Date().getMilliseconds()
                    }else{
                        $scope.errors.push("Slot Booked, Please choose another slot")
                    }   
                }
                
            });
        </script>
        <style>
            .center {
                margin: auto;
                width: 90%;
                border: 1px solid gray;
                padding: 10px;
                }
        </style>
    </head>
<body ng-app="ParkingApp" ng-controller="parkingCtrl">
    <div class="center">
        <h2>Parking Management System</h2>
        <form novalidate>
            
            Parking Slot:<br>
            <select ng-model="parkingSlot">
                <option value="">
                <option  ng-repeat="slot in parkingSlots" value="{{slot.name}}">{{slot.name}} - {{slot.onlySmallCars?'Small Cars Only':'Large and Small Cars'}}
              </select>
            <br>
            Car Type:<br>
            <select ng-model="carType">
                <option value="">
                <option  value="SMALL_CAR">Small Car
                    <option  value="LARGE_CAR">Large Car
              </select>
            <br>

            <br>
            <button class="btn btn-default" ng-click="parkCar()">PARK CAR</button>
            <div ng-repeat="error in errors">{{error}}</div>
          </form>
        <table class="table table-bordered">
            <thead>Checkout Charge= {{checkOutCharge}}</thead>
            <tbody>
                <tr ng-repeat="parking in parkingSlots">
                    <td >
                        <button type="button" class="btn btn-primary" ng-click="checkoutParking(parking.name)">Parking {{parking.name}}</button>
                        <div>({{parking.onlySmallCars?'Small Cars Only':'Large and Small Cars'}})</div>
                        <div>({{parking.hasCar?'Booked':'Empty'}})</div>
                        
                        
                    </td>
                    
                </tr>
            </tbody>
        </table>
        
    </div>
    

</body>
</html>