<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <title>
            Parking Management System
        </title>
        <script>
            var app = angular.module('ParkingApp', []);
            app.controller('parkingCtrl', function($scope) {
                $scope.collections=[]
                $scope.smallParkingFee=60
                $scope.largeParkingFee=100
                $scope.SMALL_CAR='Small Car'; 
                $scope.LARGE_CAR='Large Car';   
                $scope.parkingSlots = [
                
                ];

                //Initializes Large parkings
                for (let i = 1; i < 6; i++) {
                    $scope.parkingSlots.push({
                        name:i+'',
                        hasCar:false,
                        carType:'',
                        parkingStartTime:0
                    })
                }
                //Initializes Small parkings
                for (let i = 5; i < 16; i++) {
                    $scope.parkingSlots.push({
                        name:i+'',
                        hasCar:false,
                        onlySmallCars:true,
                        carType:'',
                        parkingStartTime:0
                    })
                }

                
            });
        </script>
        <style>
            .center {
                margin: auto;
                width: 90%;
                border: 1px solid gray;
                padding: 10px;
                }
        </style>
    </head>
<body ng-app="ParkingApp" ng-controller="parkingCtrl">
    <div class="center">
        <h2>Parking Management System</h2>
        <form novalidate>
            
            Parking Slot:<br>
            <select ng-model="parkingSlot">
                <option value="">
                <option  ng-repeat="slot in parkingSlots" value="{{slot.name}}">{{slot.name}} - {{slot.onlySmallCars?'Small Cars Only':'Large and Small Cars'}}
              </select>
            <br>
            Car Type:<br>
            <select ng-model="carType">
                <option value="">
                <option  value="SMALL_CAR">Small Car
                    <option  value="LARGE_CAR">Large Car
              </select>
            <br>

            <br>
            <button ng-click="parkCar()">PARK CAR</button>
          </form>
        <table class="table table-bordered">
            <thead>Cars Parking</thead>
            <tbody>
                <tr ng-repeat="parking in parkingSlots">
                    <td >
                        <button type="button" class="btn btn-primary" ng-click="">Parking {{parking.name}}</button>
                        ({{parking.onlySmallCars?'Small Cars Only':'Large and Small Cars'}})
                    </td>
                    
                </tr>
            </tbody>
        </table>
        
    </div>
    

</body>
</html>